.card-bg-light::before{
    content: '';
    background-color: $card-bg-light;
    position: absolute;
    width: 30%;
    height: 115%;
    left: -20%;
    top: 0;
    border-radius: $border-radius;
    z-index: $card-zindex;

}
.card-container{
    z-index: $card-container-zindex;
    position: relative;
    margin-top: 2rem;
}

.card{
    border-radius: $border-radius;
    background-color: inherit;
    border:none;
}
.card-shadow{
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);
}
